.login-main {
  .login-container {
    display: flex;
    justify-content: center;

    .login-inner {
      padding: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}